.navBox.fixed-top {
    transition: 0.3s ease-in-out;
    top:0px;
    position:fixed;
    z-index: 1020;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

.navBox{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.3rem;
    width:90%; 
    padding:2rem
}

.navbar{
    color:rgb(222, 222, 66);
    display:flex;
    align-items:center;
    gap:2rem;
    padding:0.5rem;
    cursor:pointer
}

.myLogo{
    color:rgb(222, 222, 66);
}

.resumeBtn>button{
    height:40px;
    width:80px;
    font-size:1.1rem;
    border:none;
    background-color: rgb(154, 154, 22);
    border-radius: 6px;
}

.resumeBtn>button>a{
    text-decoration: none;
    color:white;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}