

.techSkills{
    display:flex;
    flex-direction: column;
    gap:3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.techBox{
    display:grid;
    grid-template-columns:repeat(7,120px) ;
    gap:2rem;
}

.techBox > div{
    border:1px solid yellow;
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:6px;
    padding:1rem;
    
}

.techBox > div >img{
   width:80px;
   height:80px;
   object-fit: cover;
}

.techHead{
    font-size: 1.7rem;
    color:yellow;
    text-align: left;
    border-bottom: 2px solid yellow;
    width:150px;
}