

.App {
  text-align: center;
  background-color:black;
  /* padding:0;
  margin:0 */
}

/* body {
   background-image:url('https://i.pinimg.com/originals/04/65/8e/04658e1a724c1830587bf1e33930a339.gif'); 
   background-repeat:no-repeat;
   background-size: cover;
  } */

